* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #FA894C;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main {
    padding: 16px;
    margin-bottom: 16px;
}

main h1 {
    color: #4D8085;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipes div {
    column-span: 4;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

footer {
    padding: 1em;
    bottom: 0;
    background-color: #5CAB3F;
}

img {
    height: 200px;
    border-radius: 5px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

a {
    text-decoration: none;
    color: #B55E85;
}

nav a {
    color: white;
}

a:hover {
    color: #859DD6;
}
